

#footer{
    margin: -8px;
    width: 100%;
    top: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;


    img{
        width: 100%;
    } 
    .textFooter{
        margin-left: 10%;
        font: $bodyFont;
        line-height: 10px;
        position: absolute;
        width: 300px;
        h2{
            color: $white
        }
        h3{
            color: $pastel-brown2
        }
        .clickFooter{
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 20px;
            align-items: center;
            img{
                width: 40px;
                height: 20px;
            }
        }
    }

}
// Media Queries 
@media  (width < 840px){
    #footer img{
        width: 100%;
        height: auto;
    } 
    #footer .textFooter{
        line-height: 5px;
        display: flex;
        flex-direction: column;
    }
    #footer .textFooter h2{
        font-size: 16px;
    }
    
    .clickFooter{
        font-size: 10px;
        img{
            width: 15px;
            height: 10px;
        }
    }
}

@media  (width < 600px){
    #footer .textFooter{
        display: flex;
        flex-direction: column;
        gap: 0;
        line-height: 1px;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 10px;
    }
    #footer .textFooter h2{
        font-size: 10px;
    }
    #footer .textFooter h3{
        font-size: 8px;
    }
    #footer .textFooter .clickFooter img{
        width: 18px;
        height: 10px;
    }
}

@media  (width < 380px){

    #footer .textFooter{
        margin-top: 0;
        display: none;
        width: 30px;
        display: flex;

        flex-direction: row;
        gap: 5px;
        line-height: 10px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #footer .textFooter h2{
        font-size: 6px;
        display: none;
    }
        #footer .textFooter .clickFooter img{
            width: 18px;
            height: 10px;
        }
 
}

